<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Note List</title>
</head>
<body>
<h1>Note List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.text}"></td>
        <td>
            <a th:href="@{/api/notes/{id}(id=${note.id})}">View</a>
            <a th:href="@{/api/notes/edit/{id}(id=${note.id})}">Edit</a>
            <a th:href="@{/api/notes/delete/{id}(id=${note.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/api/notes/create}">Create New Note</a>
</body>
</html>
